.card {
    display: block;
    text-align: center;
    width: 50%;
    height: auto;
    border: 1px solid rgba(255, 208, 0, 0.977);
    padding: 20px;
}

.btn-emoji {
    font-size: 3rem;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.btn-check:checked + .btn-emoji {
    border-color: rgba(255, 208, 0, 0.977);
}